<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">

header {
height:300px;
position: fixed;
z-index: -1;
padding-top: 50px;
}

ul {
  margin: 0;
  padding: 3px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

ul li {
  text-align: center;
}
h1 {
  font-family: 'Patua One';
  font-size: 44px;
}
h2 {
  font-size: 42px;
  font-family: 'Patua One';
  line-height: 32px;
  padding-bottom: 14px;
}
h3 {
  font-size: 26px;
  font-family: 'Patua One';
  padding-bottom: 5px;
  color: #132c56;
  line-height: 34px;
}
p {
  font-family: 'Fira Sans', sans-serif;
}
.subhead {
  font-size: 18px;
  margin: -10px;
  margin-top: -16px;
  padding: -8px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 18px;
}
.event-info {
padding-top: 10%;
padding-bottom: 10%;

}
.nav-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}
.center-content {
padding: 30px 0;
}

.embedded-video {
    margin-left: 5%;
    margin-right: 5%;
    width:90%;
    height:90%;
    min-height: 190px;
    padding: 0;
    vertical-align: middle;
    margin-bottom:-20%;
    margin-top: -10%;
}
.mySlides {
max-height: 400px;
margin-bottom: -5%;
margin-top: -3%;
width:100%;
}
.navbar-fixed {
    margin-bottom:20vh;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    margin-top: -4px;
}
.navDemo-fixed {
  position:fixed;
  z-index:90;
  margin-top: -30%;
  width: 100%;
}
.intro {
  padding-top: 40px;
}
.intro-scrolled {
  padding-top: 180px;
}
.intro-load {
  padding-top: 43px;
}
.my-section{
  width: 100%;
}

.biz-logo {
  max-width: 500px;
  text-align: center;
}
.half-section {
  padding: 2vw;
}
.intro-section {
  padding-bottom: 20px;
}
.event-pic {
  float: left;
  width: 90%;
  position: static;
  padding-top: 50px;
  right: 5%;
}
.prof-pic {
  float: left;
  width: 90%;
  position: static;
  padding-top: 50px;
  right: 5%;
}
#navDemo {
  padding-top: 14px;
  z-index: 90;
}
#body_div {
	  top: 0;
	  position: relative;
    height: 200px;
    background-color: green;
}
#banner {
	width: 100%;
    background-color: gray;
	overflow: hidden;
}
#nav_bar {
	border: 0;
	background-color: #202020;
	border-radius: 0px;
}
#navLogo {
margin-bottom:-25px;
padding-top: -7px;
margin-top: -3px;
min-width: 120px;
max-width: 150px;
}
#navToggle {
  min-width: 200px;
}
#florida {
  width: 115%;
  text-align: center;
  margin-bottom: -70px;
  padding-bottom: 10px;
  padding-right: 20px;
}
.nav_links li {
  margin: auto;
  justify-content: space-between;
  color: #ffffff;
	text-decoration: none;
  display: inline-block;
}
.adj-biz-logo {
  width: 60%;
}
/* Styles for small and medium screens */
@media screen and (max-width:600px) {
h2 {
  font-size: 38px;
}
#navLogo {
  width:20vw;
  float:left;
  position: relative;
  margin-left: -110px;
  margin: 0px;
  margin-top: -27px;
  margin-bottom: -10px;
  z-index: 500;
  padding-top: 16px;
  min-width: 80px;
}
#florida {
  max-width: 280px;
}
#gnvbtc {
  width:75%;
  max-width: 200px;
  position: relative;
  margin-right: 50vw;
  margin-left: -3%;
  padding: 0;
}
.intro-scrolled {
  padding-top: 110px;
}
.subhead {
  font-size: 16px;
}
.navbar-fixed {
padding-top: 13px;
}

.biz-logo{
  min-width: 150px;
  margin: 0;
  padding: 3px;
}

.event-pic {
  text-align: center;
  float: none;
  width: 50%;
  padding-top: 25px;
}
.prof-pic {
  text-align: center;
  float: none;
  width: 50%;
  padding-top: 25px;
}
.adj-biz-logo {
  margin-bottom: -60px;
  width: 60%;
}

/* styles for large screens */
@media screen and (min-width:601px) {

}
